<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.iei.hotel.reservation.mapper.ReservationMapper">
	<!-- ─────────────────────────────────── 예약쿼리 ─────────────────────────────────── -->
	<sql id="reservationColumns">
		 reservationNo
		,memberNumber
		,guestRoomName
		,guestRoomNo
		,checkIn
		,checkOut
		,lodgmentPeriod
		,totalPrice
		,adult
		,child
		,reservationDate
		,memberName
		,memberGrade
	</sql>
	<!-- 회원등급조회 -->
	<select id="selectMemberGrade" resultType="double" parameterType="String">
	SELECT discountRate
	FROM grade
	WHERE memberGrade = #{memberGrade}
	</select>
	<!-- 예약 insert 처리 -->
	<insert id="reservationInsertProcess" parameterType="kr.iei.hotel.reservation.vo.ReservationVO">
		INSERT INTO
		reservation (
			<include refid="reservationColumns"/>
		) VALUES (
			 #{reservationNo}
			,#{memberNumber}
			,#{guestRoomName}
			,#{guestRoomNo}
			,#{checkIn}
			,#{checkOut}
			,#{lodgmentPeriod}
			,#{totalPrice}
			,#{adult}
			,#{child}
			,SYSDATE
			,#{memberName}
			,#{memberGrade}
		)
	</insert>
	<!-- 예약 관리 리스트 -->
	<select id="reservationAdminList" resultType="kr.iei.hotel.reservation.vo.ReservationVO" parameterType="int">
		SELECT *
		FROM reservation
		WHERE NOT memberNumber = #{number1}
	</select>
	<!-- 예약 관리 취소 -->
	<delete id="reservationAdminDelete" parameterType="String">
		DELETE
		FROM reservation
		WHERE reservationNo = #{reservationNo}
	</delete>
	<!-- 예약 관리 검색 -->
	<select id="reservationAdminSearch" parameterType="String" resultType="kr.iei.hotel.reservation.vo.ReservationVO">
		SELECT *
		FROM reservation
		WHERE reservationNo LIKE '%' || #{reservationNo} || '%'
	</select>
	<!-- 예약 개수 검색 -->
	<select id="selectReservationCount" parameterType="kr.iei.hotel.reservation.vo.ReservationVO" resultType="int">
		SELECT 	COUNT(*)
		FROM 	reservation
		WHERE 	(guestRoomName = #{guestRoomName})
		AND 	(checkIn >= #{checkIn})
		AND 	(checkIn &lt; #{checkOut})
		OR 		(guestRoomName = #{guestRoomName})
		AND 	(checkOut > #{checkIn})
		AND 	(checkOut &lt; #{checkOut})
		OR 		(guestRoomName = #{guestRoomName})
		AND 	(checkIn &lt;= #{checkIn})
		AND 	(checkOut >= #{checkOut})
		
	</select>
	<!-- 객실 정보 개수 검색 -->
	<select id="selectGuestRoomInfoCount" parameterType="kr.iei.hotel.reservation.vo.ReservationVO" resultType="int">
		SELECT 	COUNT(*)
		FROM 	guestRoomInfo
		WHERE 	guestRoomName = #{guestRoomName}
	</select>
	<!-- 객실 정보 리스트 -->
	<select id="selectGuestRoomInfoList" parameterType="kr.iei.hotel.reservation.vo.ReservationVO" resultType="kr.iei.hotel.guestroom.vo.GuestRoomVO">
		SELECT *
 		FROM guestRoom
 		JOIN guestRoomInfo
 		ON guestRoom.guestRoomName = guestRoomInfo.guestRoomName
 		WHERE guestRoom.guestRoomName = #{guestRoomName}
	</select>
	<!-- 예약 객실번호 리스트 -->
	<select id="reservationGuestRoomNumberList" parameterType="kr.iei.hotel.reservation.vo.ReservationVO" resultType="int">
		SELECT 	guestRoomNo
		FROM 	reservation
		WHERE 	(guestRoomName = #{guestRoomName})
		AND 	(checkIn >= #{checkIn})
		AND 	(checkIn &lt; #{checkOut})
		OR 		(guestRoomName = #{guestRoomName})
		AND 	(checkOut > #{checkIn})
		AND 	(checkOut &lt; #{checkOut})
		OR 		(guestRoomName = #{guestRoomName})
		AND 	(checkIn &lt;= #{checkIn})
		AND 	(checkOut >= #{checkOut})
	</select>
	
	<!-- ─────────────────────────────────── 수입통계 쿼리 ─────────────────────────────────── -->
	<!-- 일별통계 totalPrice -->
	<select id="selectDailyTotalPrice" parameterType="kr.iei.hotel.reservation.vo.IncomeStatisticsVO" resultType="long">
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day1} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day2} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day3} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day4} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day5} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day6} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day7} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day8} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day9} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day10} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day11} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day12} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day13} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day14} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day15} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day16} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day17} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day18} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day19} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day20} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day21} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day22} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day23} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day24} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day25} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day26} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day27} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day28} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day29} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day30} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day31} || '%'
	</select>
	<!-- 일별통계 totalCount -->
	<select id="selectDailyTotalCount" parameterType="kr.iei.hotel.reservation.vo.IncomeStatisticsVO" resultType="int">
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day1} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day2} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day3} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day4} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day5} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day6} || '%'
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day7} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day8} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day9} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day10} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day11} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day12} || '%'
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day13} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day14} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day15} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day16} || '%'
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day17} || '%'
union all
select 
count(*) 
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day18} || '%'
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day19} || '%'
union all
select 
count(*) 
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day20} || '%'
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day21} || '%'
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day22} || '%'
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day23} || '%'
union all
select 
count(*) 
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day24} || '%'
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day25} || '%'
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day26} || '%'
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day27} || '%'
union all
select 
count(*) 
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day28} || '%'
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day29} || '%'
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day30} || '%'
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day31} || '%'	
	</select>
	<!-- 일별통계 객실price -->
	<select id="selectDailyGuestRoomPrice" parameterType="kr.iei.hotel.reservation.vo.IncomeStatisticsVO" resultType="long">
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day1} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day2} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day3} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day4} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day5} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day6} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day7} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day8} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day9} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day10} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day11} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day12} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day13} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day14} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day15} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day16} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day17} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day18} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day19} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day20} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day21} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day22} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day23} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day24} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day25} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day26} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day27} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day28} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day29} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day30} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day31} || '%'
and guestRoomName = #{guestRoomName}
	</select>
	<!-- 일별통계 객실count -->
	<select id="selectDailyGuestRoomCount" parameterType="kr.iei.hotel.reservation.vo.IncomeStatisticsVO" resultType="int">
select 
count(*) 
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day1} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day2} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day3} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day4} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day5} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day6} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)  
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day7} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*) 
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day8} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*) 
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day9} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day10} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*) 
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day11} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day12} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day13} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day14} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day15} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day16} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day17} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day18} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day19} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day20} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day21} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day22} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day23} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day24} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day25} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day26} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day27} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day28} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day29} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day30} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day31} || '%'
and guestRoomName = #{guestRoomName}	
	</select>
	
	
	
	
	
	
	
	<!-- 월별통계 totalPrice -->
	<select id="selectMonthlyTotalPrice" parameterType="kr.iei.hotel.reservation.vo.IncomeStatisticsVO" resultType="long">
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day1} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day2} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day3} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day4} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day5} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day6} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day7} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day8} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day9} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day10} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day11} || '%'
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day12} || '%'
	</select>
	<!-- 월별통계 totalCount -->
	<select id="selectMonthlyTotalCount" parameterType="kr.iei.hotel.reservation.vo.IncomeStatisticsVO" resultType="int">
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day1} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day2} || '%'
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day3} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day4} || '%'
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day5} || '%'
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day6} || '%'
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day7} || '%'
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day8} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day9} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day10} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day11} || '%'
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day12} || '%'
	</select>
	<!-- 월별통계 객실price -->
	<select id="selectMonthlyGuestRoomPrice" parameterType="kr.iei.hotel.reservation.vo.IncomeStatisticsVO" resultType="long">
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day1} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day2} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day3} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day4} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day5} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day6} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day7} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day8} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day9} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day10} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day11} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
sum(totalPrice)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day12} || '%'
and guestRoomName = #{guestRoomName}	
	</select>
	<!-- 월별통계 객실count -->
	<select id="selectMonthlyGuestRoomCount" parameterType="kr.iei.hotel.reservation.vo.IncomeStatisticsVO" resultType="int">
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day1} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day2} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day3} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day4} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day5} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day6} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day7} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)    
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day8} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day9} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day10} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day11} || '%'
and guestRoomName = #{guestRoomName}
union all
select 
count(*)   
from reservation
where to_char(reservationDate,'YYYYMMDD') like '%' || #{day12} || '%'
and guestRoomName = #{guestRoomName}
	</select>
	
	
</mapper>