@charset "UTF-8";

img {
	width: 100%;
	height: 450px;
}
.sub_wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
}

.inner_wrap {
	position: absolute;
	top: 0;
	left: 10%;
	width: 423px;
	margin: 0 0 0 8.5%;
	max-width: 1160px;
}

.sub_info_area {
	position: relative;
	width: 440px;
	height: 450px;
	padding: 0 36px;
	background: rgba(0,0,0,.5);
}

.sub_info_title {
	width: 260px;
	min-height: 120px;
	padding-top: 30px;
	color: #fff;
}

.sub_info_title h3 {
	overflow: hidden;
	font-size: 32px;
	font-weight: 800;
	line-height: 45px;
}

.sub_info_title .h3_sub {
	font-size: 20px;
	font-weight: 800;
	line-height: 20px;
	margin-top: 0
}

.tag_area {
	margin-top: 19px;
	min-height: 40px;
	font-size: 14px;
	color: #ccc;
	line-height: 14px;
}

.tag_area .best_tag {
	margin-top: 0;
	font-weight: 700;
}

.basic_information {
	margin-top: 160px;
	height: 100px;
}

.basic_information .info_tit {
	padding-bottom: 10px;
	border-bottom: 1px solid #9398a6;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	line-height: 20px;
}

.basic_information div {
	margin-top: 10px;
}

.clear {
	clear: both;
}

.info_sub_tit {
	float: left;
	width: 60px;
	height: 14px;
	font-size: 15px;
	line-height: 18px;
	color: #ccc;
}

.info_sub_cont {
	float: right;
	width: 290px;
	min-height: 14px;
	font-size: 15px;
	color: #fff;
	line-height: 18px;
}


.detail {
	position: relative;
	width:1185px;
	margin: 0 auto;
	padding: 455px 0 60px 0;
}
.intro h3,
.detail-info h3 {
	font-weight: bold;
	color: #193f6e;
}
.intro p,
.detail-info p {
	font-size: 18px;
	margin-top: 10px;
}
.info {
    height: 150px;
}

.info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info ul li {
    width: 25%;
    float: left;
    margin: 40px 0 25px 0;
}

.info ul li dl {
    padding-top: 0;
    padding-left: 15px;
}

.info ul li dl dt {
    font-size: 18px;
    margin-bottom: 5px;
}

.info ul li dl dd {
    font-size: 18px;
}

.contents {
	width: 1185px;
	margin: 0 auto;
}
.contents img {
	width: 100%;
	height: 500px;
	margin-bottom: 3%;
}
.contents p {
	font-size: 18px;
	margin-bottom: 50px;
}

.viewer {
	position: relative;
	min-height: 100px;
}
.row {
	margin: 30px 0;
	width: 100%;
	text-align: center;
}
.col {
	display:inline-block;
	position: relative;
	width: 580px;
	margin-right: 10px;
}
.col img {
	width: 100%;
}