@charset "UTF-8";
        .hotelHugWrap {
            font-family: 'Noto Sans', sans-serif;
            padding-top: 50px;
            font-size: 14px;
            width: 1280px;
            padding: 0 80px;
            margin: 0 auto;
            
        }
        .hotelHugWrap > .buttonTitle {
            padding: 110px 0 40px;
            font-weight: 100;
            font-size: 30px;
            line-height: 40px;
            color: #193f6e;
            text-align: center;
            border-bottom: 1px solid #193f6e;
        }
        .hotelHugWrap > .buttonTitle p{
            padding-top: 20px;
        }
        .hotelHugWrap > .buttonTitle > .buttonType {
            border: 1px solid #193f6e;
            font-size: 13px;
            font-weight: bold;
            border-radius: 50%;
            padding: 12px 17px;
            margin: -3px;
            margin-left: -10px;
        }
        .hotelHugWrap > .buttonTitle > .buttonType.on {
            background: #193f6e;
            color: white;
        }

        
        .hotelHugWrap > .buttonChoice {

            position: relative;
            width: 100%;
            padding-top: 25px;
            padding-bottom: 35px;

        }
        /* .hotelHugWrap > .buttonChoice p {
            border: 1px solid #193f6e;
            position: absolute;
            padding: 20px 124px;
        } */
        .hotelHugWrap > .buttonChoice .choiceType {
            position: relative;
            left: 351px;

        }
        .hotelHugWrap > .buttonChoice .choiceType2 {
            border: 1px solid #193f6e;
            margin-left: 10px;
            padding: 20px 53px;
            color: #666;
        }
        .hotelHugWrap > .buttonChoice .choiceType3 {

            border: 1px solid #193f6e;
            background: #193f6e;
            padding: 20px;
            margin-left: 4px;
            color: white;
        }


        


        .hotelHugWrap > .innerBox > .roomWrap {
            padding-top: 30px;
            border-top: 1px solid #193f6e;
            height:  187px;
                margin-bottom: 64px;
            
            position: relative;
            /* float: left; */
            width: 100%;
        }
        .hotelHugWrap > .innerBox > .roomWrap > .imageBox {
            float: left;

            /* width: 767px;
            height: 463px; */
            
        }
        .hotelHugWrap > .innerBox > .roomWrap > .imageBox > img {
            width: 300px;
            height: 185px;
        }
        
        .hotelHugWrap > .innerBox > .roomWrap > .roomContent {
            position: absolute;
            left: 320px;

        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomContent > .roomTitle {
            color: #193f6e;
        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomContent > .roomTitle > span {
            display: block;
            margin-bottom: 10px;
            font-size: 30px;
            font-weight: 100;
            line-height: 1;

        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomContent > .roomInfo {
            margin-top: 20px;
            
            /* border-top: 1px solid #193f6e; */
        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomContent > .roomInfo > p {
            position: relative;
            margin-top: 7px;
            padding-left: 65px;
            line-height: 28px;
            color: #999;
        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomContent > .roomInfo > p > span {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            font-weight: bold;
            color: #666;
        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomPrice {
            position: absolute;
            right: 0;
            padding-top: 30px;
        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomPrice > span {
            margin-right: 100px;
            font-size: 30px;
            color: #193f6e;;
        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomPrice > p {
            margin-bottom: 0;
            color: #666;
            font-weight: 300;
        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomPrice > button {
            border: 1px solid #193f6e;
            background-color: white;
            color: #193f6e;
            padding: 30px;
        }
        .hotelHugWrap > .innerBox > .roomWrap > .roomPrice > button:hover {
            color: white;
            background: #193f6e;
        }
        .checkInOut{
            position: absolute;
        }
        .checkIn,.checkOut{
            border: 1px solid #193f6e;
            color: #666;
            text-align: center;
            padding: 19.4px 0px;
        } 
        .choiceFirst {
            color: #666;
        }

        .searchRoomDetailInfo {
            margin-bottom: 150px;
        }
        .searchRoomDetailInfo ul{
            border-top: 1px solid #193f6e;
            /* background: #72a5d3; */
            /* margin-top: 280px; */
            /* margin-bottom: 0rem; */
            margin-bottom: 3rem;
        }
        .searchRoomDetailInfo h1 {
            font-size: 20px;
            /* color: #666; */
            font-weight: 600;
            padding-top: 15px;
        }
        .searchRoomDetailInfo span {
            color: #72a5d3;
            font-weight: bold;
        }
        .searchRoomDetailInfo li{
            /* border: 1px solid #193f6e; */
            list-style-type: none;
            /* color: #666;; */
            font-weight: 300;
            /* background: #bedae8; */
        }
        .searchRoomDetailInfo .ipButtonType {
            color: #72a5d3;
            width: 95px;
            font-weight: bold;
        }
        .searchRoomDetailInfo .ipButtonType1 {
            width: 18px;
            
            color: #72a5d3;
            font-weight: bold;
        }
        .searchRoomDetailInfo .ipButtonType2 {
            color: black;
            width: 100px;
            font-weight: 300;
            font-size: 20px;
        }
        .searchRoomDetailInfo .ipButtonType3 {
            color: #72a5d3;
            width: 250px;
            font-weight: bold;
        }
        .guestRoomNumberTable {
        }
        .guestRoomNumberTable .jypSizeUp {
        border: 1px solid #72a5d3;
        width: 150px;
        }
        .guestRoomNumberTable th {

   		background: #72a5d3
        }
        .guestRoomNumberTable td {
        }