@charset "UTF-8";
.hotelHugDetailWrap {
    font-size: 14px;
    width: 1280px;
    padding: 0 80px;
    margin: 0 auto;
}

.hotelHugDetailWrap>.contDetailTitle {
    padding: 60px 0 40px;
    font-size: 20px;
    font-weight: 500;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.hotelHugDetailWrap>.contDetailTitle>.titleBig {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    color: #193f6e;
    margin-bottom: 2.5rem;
}

.hotelHugDetailWrap>.contDetailTitle>.titleSmall {
    font-size: 23px;
    color: #193f6e;
    margin-bottom: 2.5rem;
}

.hotelHugDetailWrap>.imageArea {}

.hotelHugDetailWrap>.imageArea>.slides img {
    width: 1120px;
    height: 496px;
    /* width: 300px; */
    /* height: 300px; */
    transition: transform 1s linear;
}

.hotelHugDetailWrap>.imageArea>.slides img:hover {
	transform: scale(1.1);
}

.imageArea {
    position: relative;
    width: 1120px;
    margin: 0 auto;
    height: 496px;
    /* width: 2104px; */
    overflow: hidden;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 4600px; */
    transition: left 0.5s ease-out;
}

.slides li:not(:last-child) {
    float: left;
    margin-right: 30px;
}

.slides>li {
    list-style: none;
}

.controls {
    text-align: center;
    margin-bottom: 15px;
}

.controls a {
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    color: #72a5d3;
}

.dot {
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 7px;
    /* transition: background-color 0.6s ease; */
}

.dot.on {
    background: #72a5d3;
}

.prev {
    margin-right: 500px;
}

.next {
    margin-left: 500px;
}

.detailInfo {
    height: 150px;
}

.detailInfo ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.detailInfo ul li {
    width: 33%;
    float: left;
    margin: 40px 0 25px 0;
}

.detailInfo ul li dl {
    padding-top: 0;
    padding-left: 30px;
}

.detailInfo ul li dl dt {
    font-size: 15px;
    margin-bottom: 5px;
}

.detailInfo ul li dl dd {
    font-size: 18px;
}

.guidetitle {
    margin-top: 10px;
    position: relative;
    color: red;
    padding-left: 16px;
    font-size: 16px;
    margin-bottom: 10px;
}

.guidedetail {
    margin: 0 0 15px 15px;
    position: relative;
    color: red;
    padding-left: 16px;
    font-size: 14px;
}

.serviceInfo {
    font-weight: bolder;
    color: #193f6e;
    margin: 50px 0 15px 0;
}

.serviceTitle {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
}

.serviceContent {
    font-size: 16px;
    margin-left: 10px;
}

.guideBox {
    border: 1px solid #bedae8;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.guideBox li {
    list-style-type: none;
    line-height: 2.3;
    color: #666;
}

.guideBox .guideList1 {
    background: #bedae8;
    color: #193f6e;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 25px 0 25px 40px;
}

.guideBox .guideList2 {
    padding: 14px 0 0 40px;
}